input[type="text"],
input[type="date"],
input[type="time"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.header {
  background-color: #7b1fa2;
  color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}
.title:hover {
  cursor: pointer;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  margin-top: 5%;
  width: 80%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.box {
  display: flex;
  width: 100%;
  font-size: 2rem;
}
.cancel {
  width: 35%;
  margin-right: 10%;
  margin-left: 10%;
  background-color: #fafafa;
  text-align: center;
  color: #212121;
  padding: 10px;
  font-weight: bold;
}
.submit {
  width: 35%;
  margin-right: 10%;
  background-color: #7b1fa2;
  text-align: center;
  color: #fafafa;
  padding: 10px;
  font-weight: bold;
}
.submit:hover {
  background-color: #ea80fc;
  cursor: pointer;
}
.cancel:hover {
  background-color: #212121;
  color: #fafafa;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

h1 {
  text-align: center;
  color: #7b1fa2;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
