.header {
  background-color: #7b1fa2;
  color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex-grow: 1;
}

.add-button {
  background-color: #fafafa;
  color: black;
  font-weight: 800;
  border: none;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
.text-center {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
}
.center-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #e0e0e0;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
}

.item {
  background-color: #fafafa;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  border-radius: 10px;
}
.item-1 {
  text-align: left;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  width: fit-content;
  margin-bottom: 10px;
  background-color: #7b1fa2;
  color: #fafafa;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
}

.item-2 {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: left;
  margin-left: 5px;
  justify-self: center;
  align-self: center;
  text-transform: capitalize;
}
.dates {
  display: flex;
  justify-self: flex-end;
  justify-content: space-around;
}
.item-3,
.item-4,
.item-5,
.item-6 {
  font-size: 14px;
  margin-bottom: 5px;
}
.item3,
.item4 {
  margin-right: 3px;
  font-size: 30%;
}
.small-title {
  display: flex;
  justify-self: flex-end;
  justify-content: space-around;
}
.small-div-1 {
  font-size: 100;
}
.small-div-2 {
  font-size: 100;
}
.times {
  display: flex;
  justify-self: flex-end;
  justify-content: space-around;
}
.item-3 i {
  color: green;
  font-weight: bold;
}
.item-4 i {
  color: red;
  font-weight: bold;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #7b1fa2;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 10px;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 975px) {
  .container {
    grid-template-columns: auto auto;
    padding: 10px;
    margin: 10px;
    grid-gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    grid-template-columns: auto;
    padding: 10px;
    margin: 10px;
  }
}
